<div class = "login-form">
    <mat-card>
       <mat-card-content>
           <h1>¡Bienvenidos!</h1> 
           <h3>Iniciar sesion</h3> 

           <form [formGroup] = "loginForm" (ngSunmit) = "onLogin()">
            <mat-form-field class = "full-width-input">
                <input 
                    text = "text" 
                    formControlName = "username"
                    matInput 
                    placeholder="Usuario"  
                    required
                />
            </mat-form-field>
            <mat-form-field class = "full-width-input separator">
                <input 
                    type = "password" 
                    formControlName = "password"
                    matInput 
                    placeholder="Contraseña"  
                    required
                />   
            </mat-form-field>
            <button type = "submit" mat-raised-button color ="" >Login</button>
             </form>
       </mat-card-content>
    </mat-card>
</div>